<h1> New Appearance Form</h1>

<% if flash[:errors] %>
    <ul>
        <%flash[:errors].each do |error|%>
            <li style="color:red">
                <%= error%>
            </li>
        <%end%>
    </ul>
<%end%>

<%= form_for(@appearance) do |f| %>
    <%= f.collection_select :episode_id, @episodes, :id, :date %>
    <%= f.collection_select :guest_id, @guests, :id, :name %>
    <%= f.label :rating%>
    <%= f.text_field :rating%>
    <%= f.submit%>
<% end%>
    