<h1>New Appearance:</h1>

<% if flash[:errors] %>
<h2 style='color:red'>Error: </h2>
<ul>
    <% flash[:errors].each do |error| %>
        <li style='color:red'><%= error %></li>
    <% end %>
</ul>
<% end %>

<%= form_for @appearance do |f| %>
    <%= f.label :rating %>
    <%= f.number_field :rating %>
    <%= f.label "Guest"%>
    <%= f.collection_select :guest_id, @guests, :id, :name %>
    <%= f.label "Episode"%>
    <%= f.collection_select :episode_id, @episodes, :id, :date %>
    <%= f.submit %>
<% end %>