<h1>New Appearance Page</h1>

<% if flash[:errors] %>
    <ul>
    <% flash[:errors].each do |error| %>
        <li style="color: red">
            <%= error%>
        </li>
    <% end %>
    </ul>
<% end %>

<%= form_for @appearance do |f| %>
    Guest: <%= f.collection_select :guest_id, @guests, :id, :name %><br />
    Episode: <%= f.collection_select :episode_id, @episodes, :id, :number %><br />
    Rating: <%= f.number_field :rating %><br />
    <%=f.submit%>
<%end%>