<% if flash[:errors] %>
    <ul>
        <% flash[:errors].each do |error| %>
            <li style="color: red">
                <%= error %>
            </li>
        <% end %>
    </ul>
<% end %>


<h3>New Appearance Form</h3>

<%= form_for @appearance do |f| %>

<%= f.label "Guest Name" %>
<%= f.collection_select :guest_id, @guests, :id, :name %>
<br/>
<%= f.label "Episode Date" %>
<%= f.collection_select :episode_id, @episodes, :id, :date %>
<br/>
<%= f.label :rating %>
<%= f.number_field :rating %>
<br/>
<%= f.submit %>

<% end %>

